{% extends "base.html" %} {% load staticfiles %} {% block content %}
<div class="cuestionario">
    <div class="row">
        <div class="col-md-12">
            <h2>Porfavor contesta la siguiente pregunta.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="contenedor-item">
				        <div class="descripcion">
				            <h3 class="panel-title">Existe la presencia de {{ hecho.titulo }}?</h3>				
				        </div>
				        <div class="detalle" data-toggle="modal" data-target="#modal-{{hecho.id}}">
				            <span class="glyphicon glyphicon-leaf"></span>
				        </div>
					</div>
                </div>
                <ul class="list-group">
                	{% include 'greengarden/cuestionario_item.html' %}
                </ul>
            </div>
        </div>
        <div class="col-md-4">
        {% if memoria %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Memoria</h3>
                </div>
                <ul id="memoria" class="list-group">
                {% for hecho in memoria %}
                	<li class="list-group-item">
                	{{ hecho.titulo|title }}: {{ hecho.valor }}
                	</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}
<div class="cuestionario">
    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; 2016 Rosario Sahonero</p>
        </div>
    </footer>
</div>
{% endblock footer %}
{% block scripts %}
	<script src="{% static 'greengarden/cuestionario/cuestionario.js' %}"></script> 
{% endblock scripts %}