{% extends "base.html" %} {% block content %}
<div class="cuestionario">
    <div class="row">
        <div class="col-md-12">
            <h2>Porfavor selecciona los s&iacute;tomas visibles</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form method="POST" action="/">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hojas</h3>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox">
                            <label><input type="checkbox">Hojas arrugadas</label><br>
                            <label><input type="checkbox">Hojas caidas</label><br>
                            <label><input type="checkbox">Hojas secas</label><br>
                            <label><input type="checkbox">Hojas con substancia pegajosa</label><br>
                            <label><input type="checkbox">Hojas con lineas blancas</label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Flores</h3>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox">
                            <label><input type="checkbox">Flores caidas</label><br>
                            <label><input type="checkbox">Flores secas</label><br>
                            <label><input type="checkbox">Flores con lineas cafes</label><br>
                            <label><input type="checkbox">Flores decoloradas</label><br>
                            <label><input type="checkbox">Flores con manchas plateadas</label><br>
                            <label><input type="checkbox">Flores con manchas cafes</label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tallo</h3>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox">
                            <label><input type="checkbox">Tallo quebradizo</label><br>
                            <label><input type="checkbox">Tallo con lineas cafes</label><br>
                            <label><input type="checkbox">Tallo con masa densa blanca</label><br>
                            <label><input type="checkbox">Tallo podrido</label><br>
                            <label><input type="checkbox">Tallo con manchas plateadas</label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ra&iacute;z</h3>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox">
                            <label><input type="checkbox">Raiz con nodulos</label><br>
                            <label><input type="checkbox">Raiz podrida</label>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-default" value="Inferir">
            </form>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Memoria</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Manchas amarillas</li>
                    <li class="list-group-item">Hojas caidas</li>
                    <li class="list-group-item">Tallo quebradizo</li>
                    <li class="list-group-item">Hojas con manchas amarillas</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}