{% extends "base.html" %} {% block content %}
<div class="cuestionario">
    <div class="row">
        <div class="col-md-12">
            <h2>Porfavor selecciona los s&iacute;tomas visibles</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form method="POST" action="/">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hojas</h3>
                    </div>
                    <div class="panel-body">
                        Sintomas
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Flores</h3>
                    </div>
                    <div class="panel-body">
                        Sintomas
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tallo</h3>
                    </div>
                    <div class="panel-body">
                        Sintomas
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ra&iacute;z</h3>
                    </div>
                    <div class="panel-body">
                        Sintomas
                    </div>
                </div>
                <input type="submit" class="btn btn-default" value="Inferir">
            </form>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Memoria</h3>
                </div>
                <div class="panel-body">
                    Sintomas
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}