body > .container {
    padding: 60px 15px 0;
}

.jumbotron {
	background: url(./imagenes/background.jpg) no-repeat center center fixed;
	color: #FFF;
	text-shadow: 0 3px 5px rgba(0,0,0,1);
  	filter: grayscale(0.2);
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.container .text-muted {
    margin: 20px 0;
}

.btn-default {
    border-color: #009688;
}

.btn-default:hover {
    background-color: #009688;
    border-color: #009688;
    color: #FFF;
}

.home .marketing h2 {
    font-weight: normal;
}

.home .marketing .col-md-4 {
    margin-bottom: 20px;
    text-align: center;
}

.home .alert, .cuestionario .alert {
    display: none;
}

.cuestionario form {
	margin-bottom: 10px;
}

.cuestionario form .radio {
	padding: 5px 0;
	margin-left: 20px;
}

.cuestionario .panel-default {
    border-color: #004D40;
}

.cuestionario .panel-heading {
    color: #FFF;
    background-color: #004D40;
}

.cuestionario .panel-heading .contenedor-item {
    display: inline-block;
    width: 100%;
}

.cuestionario .panel-heading .contenedor-item .descripcion {
    width: 90%;
    float: left;
}

.cuestionario .panel-heading .contenedor-item .detalle {
    width: 10%;
    float: right;
}

.cuestionario .panel-heading .contenedor-item .detalle span {
    float: right;
    padding-top: 5px;
}

.cuestionario .panel-heading .contenedor-item .detalle:hover {
    cursor: pointer;
}

.cuestionario .memoria-trabajo.list-group {
	max-height: 300px;
	overflow-y: auto;
}