{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'greengarden/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'greengarden/styles.css' %}">
    <title>{% block title %}Green Garden{% endblock title %}</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Green Garden</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/greengarden">Inicio</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Informacion</a></li>
                    <li><a href="{% url 'greengarden:cuestionario' %}">Cuestionario</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    {% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; 2016 Rosario Sahonero</p>
        </div>
    </footer>
    {% endblock footer %}
    <script src="{% static 'greengarden/bootstrap/js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'greengarden/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
</body>

</html>